@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index - Knockout</h2>

<div align="center">
  @Html.ActionLink("LINQ for JavaScript (linq.js)/1", "page01", "Grid5")<br /> 
</div>

<br /><br />

<div align="justify">
This is useful if you works with in memory data, you can filter it using linq.js - LINQ for JavaScript. 
</div>

<br /><br />
