@{
    ViewBag.Title = "Index";
}

<h2>Index - Server template</h2>

<div align="center">
  In this section you will find examples that use server template (partialview).
</div>

<br /><br />
<div align="center">
  @Html.ActionLink("Query with skip(3).take(6)", "page01", "Grid2")<br />
  @Html.ActionLink("Query with pagingWithSize(10)", "page02", "Grid2")<br />
  @Html.ActionLink("Query with pagingWithSize/template", "page03", "Grid2")<br />  
  @Html.ActionLink("Query with pagingWithSize/template", "page04", "Grid2")<br />    
</div>
