@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index - No linq enabled</h2>

<div align="center">
  In this section you will find examples where query linq are disabled.
</div>

<br /><br />

<div align="center">
  @Html.ActionLink("Page-01", "page01", "Grid3")<br />
  @Html.ActionLink("Page-02", "page02", "Grid3")<br />
  @Html.ActionLink("Page-03", "page03", "Grid3")<br />  
  @Html.ActionLink("Page-04", "page04", "Grid3")<br />    
</div>
