@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script src="@Url.Content("~/Scripts/zPageGrid1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/zPageGrid2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GridController3/zPage03.js")" type="text/javascript"></script>
}

<h2>Index - Page03</h2>

<p>
<pre>
context.from("/Grid3/GetDataJson").pagingWithSize(10).orderBy(
  "Country,City desc").applyTempServer("view1").loadData();
</pre>
</p>
<p>
Linq is not enabled and it is used PagingBase without plugin (directly).
</p>

<br /><br />

<div id="gpane2" style="display:none">
  <div id="jpa"></div>
</div>
