<!DOCTYPE html>

<html>
<head>
<title>Pagina1a</title>
<meta name="viewport" content="initial-scale=2, maximum-scale=4">
<link href="../../JQueryMobile/jquery.mobile-1.0rc2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../JQueryMobile/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../../Scripts/knockout-2.0.0.js"></script>
<script type="text/javascript" src="../../Scripts/knockout.mapping.js"></script> 
<script type="text/javascript" src="../../Scripts/json2.js"></script>
<script type="text/javascript" src="../../Scripts/Mobile/zPage01.js"></script>
<script type="text/javascript" src="../../Scripts/zPageGrid1.js"></script>
<script type="text/javascript" src="../../Scripts/zPageGrid3.js"></script>
<script type="text/javascript" src="../../JQueryMobile/jquery.mobile-1.0rc2.js"></script>
</head>
<body>

<!-- page -->
<div id="page4" data-role="page">
	<div data-role="header">
		<h1>Page Title 1a</h1>
	</div>
	<div data-role="content">	
		<p>Page content-1a goes here (@DateTime.Now).</p>	
    <a data-rel="back" data-direction="reverse">Back</a><br /> 		
	</div>
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div>
</div>
<!-- /page -->

</body>
</html>
