@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<div align="center">
To test this project you need to use the Northwind database.<br />
Change the connection string in the web.config.<br />
<br /><br />
At this time the search is broken for for special charatters å , ä , ü.
</div>

<h3>Property of the plugin</h3>
<table>
<tr>
<td>ttype</td>
<td>
search form type (popup - show/hide).
</td>
</tr>

<tr>
<td>tpane1</td>
<td>
search form 'div'.
</td>
</tr>

<tr>
<td>tpane2</td>
<td>
result 'div'.
</td>
</tr>

<tr>
<td>tpane3</td>
<td>
is loading 'div'.
</td>
</tr>

<tr>
<td>tsearch1</td>
<td>
button that show the search form.
</td>
</tr>

<tr>
<td>tpageF</td>
<td>
page first button.
</td>
</tr>

<tr>
<td>tpageP</td>
<td>
page prev button.
</td>
</tr>

<tr>
<td>tpageN</td>
<td>
page next button.
</td>
</tr>

<tr>
<td>tpageL</td>
<td>
page last button.
</td>
</tr>

<tr>
<td>tsearch2</td>
<td>
button that start the search.
</td>
</tr>

<tr>
<td>tcontainer</td>
<td>
id of the template container.
</td>
</tr>

<tr>
<td>ttemplate</td>
<td>
name of the default template.
</td>
</tr>

<tr>
<td>tdetailPanel</td>
</td>
<td>
popup detail 'div'.
</td>
</tr>

<tr>
<td>tdetailContainer</td>
<td>
id of the popup detail template container.
</td>
</tr>

<tr>
<td>turlpath</td>
<td>
url of the rest call.
</td>
</tr>

<tr>
<td>tlinqEnabled</td>
<td>
enable/disable linq query.
</td>
</tr>

<tr>
<td>tcacheEnabled.</td>
<td>
enable/disable cache and prefetch.
</td>
</tr>

<tr>
<td>tpage</td>
<td>
default page number.
</td>
</tr>
</table>

<br /><br />

</table>
